#root {
  width: 100vw !important;
  margin: 0;
  padding: 0;
}

:root {
  --t-d-red: #702632;
  --t-l-red: #912f40;
  --t-white: #f5efed;
  --t-black: #080705;
  --t-gray: #40434e;
  --grey: #d7d7d7;
}

.sidebar{
  background-color: var(--t-d-red) !important;
  color: var(--t-white) !important;
  position: fixed !important;
  height: 100vh !important;
  width: 280px !important;
  transition: 0.3s ease-in-out !important;
  z-index: 1030;
}
.translate-x-n100 {
  transform: translateX(-100%);
}
.translate-x-0 {
  transform: translateX(0);
}

.sidebarText{
  color: var(--t-white) !important;
  font-size: 1.5rem !important;
}

.whiteText{
  color: var(--t-white) !important;
}

.accentText{
  color: var(--t-l-red) !important;
}

.sidebarBreak{
  border-bottom: 1px solid var(--t-white);
}

.sidebarHamburger {
  background-color: var(--t-d-red) !important;
  top: 10px;
  left: 10px;
  z-index: 1050;
}

.sidebarHamburger:hover {
  background-color: var(--t-l-red) !important;
  color: var(--t-white) !important;
}

.sidebarOverlay{
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1030;      
}
.homeJumbotron{
  min-height: 60vh;
  background-image: url(/assets/images/homeWatch.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.homeCertifications{
  min-height: 30vh;
  background-color: var(--t-white);
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
}

.homeServices{
  background-color: var(--t-black);
}

.contact{
  background-color: var(--t-black);
  color: var(--t-white);
}

.socialButton{
  border-color: var(--t-l-red) !important;
  background-color: var(--t-black) !important;
  color: var(--t-l-red) !important;
}

.socialButton :hover{
  border-color: var(--t-l-red) !important;
  background-color: var(--t-l-red) !important;
  color: var(--t-white) !important;
}